fastapi
uvicorn
openai
edge-tts
ffmpeg-python
cloudinary
requests
python-dotenv
apscheduler
huggingface_hub
Pillow
torch
torchvision
torchaudio
diffusers
transformers
accelerate
safetensors 
apscheduler
feedparser==6.0.11
moviepy==2.1.1
feedparser==6.0.11
numpy